<h1>About Us</h1>
    <p>
        <a href="http://loveallogy.org/">LoveALLogy</a> is a movement of love, happiness, peace and compassion. It is an idea that helps both your self and the world become a happier. Imagine every being on the planet giving 1 hour per week helping a cause that they are passionate about. Imagine a network of compassionate people collectively helping you reach your dream. Collectively we have tremendous power to change the world.
    </p>
