<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://loveallogy.tumblr.com/">Blog</a></li>
      <li><a href="http://www.loveallogy.org/">LoveALLogy</a></li>
    </ul>
  </nav>
</footer>
